<div class="container w-75 mx-auto mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5 mx-auto">
            <form #signInForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group p-2">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                        [(ngModel)]="user.Email" #email='ngModel' required
                        [class.is-invalid]="email.invalid && email.touched">
                </div>
                <small [class.d-none]="email.untouched || email.valid" class="text-danger">This field is
                    required</small>
                <div class="form-group p-2">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                        [(ngModel)]="user.Password" #pswd='ngModel' required
                        [class.is-invalid]="pswd.invalid && pswd.touched">
                </div>
                <small [class.d-none]="pswd.untouched || pswd.valid" class="text-danger">This field is required</small>
                <div class="p-2">Don't have an account? <span router-link="register" (click)="goToRegister()">Sign up</span></div>
                <div class="text-center pt-2"><input type="submit" class="btn btn-primary"
                        [disabled]="signInForm.invalid" value="Login"></div>
            </form>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>