.custom-navbar-red{
    background-color: #F37C7C;
}

.navbar-brand{
    color: #f0f8ff;
}

.navbar-brand:hover{
    color: #272932;
}
a:hover{
    cursor: pointer;
}

.custom-nav-btn-color{
    background-color: #0F7173;
    color: aliceblue;
}

.btn {
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 600;
}

.btn:hover {
    background-color: #B26E63 !important;
}

.search {
    border: none;
    outline: none;
    border-radius: 8px;
}

.search:focus {
    box-shadow: 0px 0px 2px gray;
}

.username{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}