.custom-navbar-red{
    background-color: #F37C7C;
}

.navbar-brand{
    color: #f0f8ff;
}

.navbar-brand:hover{
    color: #272932;
}
a:hover{
    cursor: pointer;
}

.custom-nav-btn-color{
    background-color: #0F7173;
    color: aliceblue;
}