<div class="row my-2 mx-2">
    <button class="m-2 p-2 custom-container" (click)="navigateToBook(book)"
        *ngFor="let book of Books | paginate: { itemsPerPage: 20, currentPage: p }; let i = index">
        <div class="title">{{book.Title}}</div>
        <div class="p-2 h-75 img-container">
            <img class="card-img-top" src="{{book.Image}}" alt="" width="150px">
        </div>
        <div class="author">{{book.Author}}</div>
        <div class="d-flex align-items-center  justify-content-between">
            <div class="d-flex align-items-center">
                <div class="price d-inline-block">{{book.Price | currency: 'USD' }}</div>
                <div class="oldprice d-inline-block">{{book.OldPrice}}</div>
            </div>
            <div class="rating">
                Score: {{book.Rating}}/5
            </div>
        </div>
    </button>

    <div class="text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>