.custom-container{
    height: 380px;
    width: 230px;
    background-image: linear-gradient(to right, #f5cfcf, #faf0f0);
    border-radius: 10px;
}

button{
    border: none;
    outline: none;
}

.img-container{
    border-radius: 7px;
    overflow: hidden;
    white-space: nowrap;
}
img {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
